.details-categorie-page {
  background-color: #f4f6f8;
  color: #182848;
}

h2 {
  color: #182848;
}

.product-card {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
}

.categorie-attributes div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.1);
  }
}

button {
  transition: all 0.3s ease;
}
